In [1]:
#import modules
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
#read the dataset
data = pd.read_csv('user_demographics.csv')

             uid              reg_date device gender country  age
0     54030035.0  2017-06-29T00:00:00Z    and      M     USA   19
1     72574201.0  2018-03-05T00:00:00Z    iOS      F     TUR   22
2     64187558.0  2016-02-07T00:00:00Z    iOS      M     USA   16
3     92513925.0  2017-05-25T00:00:00Z    and      M     BRA   41
4     99231338.0  2017-03-26T00:00:00Z    iOS      M     FRA   59
...          ...                   ...    ...    ...     ...  ...
9995  43138741.0  2016-11-23T00:00:00Z    and      M     BRA   16
9996  30326568.0  2016-08-21T00:00:00Z    and      M     BRA   15
9997  92384369.0  2015-08-20T00:00:00Z    and      F     DEU   33
9998  98809962.0  2017-04-08T00:00:00Z    iOS      F     FRA   32
9999  82078268.0  2018-02-23T00:00:00Z    and      F     CAN   31

[10000 rows x 6 columns]

In [12]:
data = pd.read_csv('user_demographics.csv')

#splitting them into test and control groups
data['Flag'] = data.groupby('gender')['uid'] \
.transform(lambda x: np.random.choice(['Control','Test'], len(x),  p=[.4,.6]))

In [8]:
data

             uid              reg_date device gender country  age     Flag
0     54030035.0  2017-06-29T00:00:00Z    and      M     USA   19     Test
1     72574201.0  2018-03-05T00:00:00Z    iOS      F     TUR   22  Control
2     64187558.0  2016-02-07T00:00:00Z    iOS      M     USA   16  Control
3     92513925.0  2017-05-25T00:00:00Z    and      M     BRA   41     Test
4     99231338.0  2017-03-26T00:00:00Z    iOS      M     FRA   59  Control
...          ...                   ...    ...    ...     ...  ...      ...
9995  43138741.0  2016-11-23T00:00:00Z    and      M     BRA   16  Control
9996  30326568.0  2016-08-21T00:00:00Z    and      M     BRA   15     Test
9997  92384369.0  2015-08-20T00:00:00Z    and      F     DEU   33     Test
9998  98809962.0  2017-04-08T00:00:00Z    iOS      F     FRA   32     Test
9999  82078268.0  2018-02-23T00:00:00Z    and      F     CAN   31  Control

[10000 rows x 7 columns]

In [9]:
data.to_csv('testandcontrolset.csv')

In [10]:
#Separate the Test from Control set

#Test Dataset
Test = data[data["Flag"].str.contains("Test")]

Test.to_csv('Test.csv')

In [11]:
#Control Dataset
Control = data[data["Flag"].str.contains("Control")]

Control.to_csv('Control.csv')

In [14]:
#Since we divided the users by 40% and 60% randomly, let us check if the splitting is accurate.

len(Test), len(Control)

(6069, 3931)